<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Товар</title>
</head>
<body>
<a data-th-href="@{/customer/products/list}">Список товаров</a>
<h1 data-th-text="${product.title}"></h1>
<p data-th-text="${product.details}"></p>
<form method="post" data-th-action="@{/customer/products/{productId}/add-to-favourites(productId=${product.id})}"
    data-th-if="${!inFavourites}">
    <button type="submit">
        Добавить в избранное
    </button>
</form>

<form method="post" data-th-action="@{/customer/products/{productId}/delete-from-favourites(productId=${product.id})}"
    data-th-if="${inFavourites}">
    <button type="submit">
        Удалить из избранного
    </button>
</form>
</body>
</html>